<h1>Welcome to Anagrams!</h1>

<!-- Aquí deberá ir la forma de HTML -->
<!-- <form action="/new_word" method="get">
  Search for anagram:<br>
  <input type="text" name="word"><br>
  <input type="submit" value="Submit">
</form> -->

<form action="/new_word" method="post">
  User Input:<br>
  <input type="text" name="user_word"><br>
  <input type="submit" value="Submit">
</form>

